# EpiRecipes

## Importing Libraries

In [5]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Data Collection

In [6]:
file_path = "../raw file/epi_r.csv"
df = pd.read_csv(file_path)

# Exploratory Data Analysis

### Data Overview

In [7]:
df.head(2)

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20052 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 104.0+ MB

In [9]:
df.describe()

,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,30 days of groceries,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
count,20052.000000,1.593500e+04,15890.000000,1.586900e+04,1.593300e+04,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,...,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000,20052.000000
mean,3.714467,6.322958e+03,100.160793,3.468775e+02,6.225975e+03,0.000299,0.000050,0.000848,0.001346,0.000349,...,0.001247,0.026332,0.000050,0.000299,0.014861,0.000150,0.000349,0.001396,0.000948,0.022741
std,1.340829,3.590460e+05,3840.318527,2.045611e+04,3.333182e+05,0.017296,0.007062,0.029105,0.036671,0.018681,...,0.035288,0.160123,0.007062,0.017296,0.121001,0.012231,0.018681,0.037343,0.030768,0.149080
min,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.750000,1.980000e+02,3.000000,7.000000e+00,8.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.375000,3.310000e+02,8.000000,1.700000e+01,2.940000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.375000,5.860000e+02,27.000000,3.300000e+01,7.110000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,3.011122e+07,236489.000000,1.722763e+06,2.767511e+07,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
df.dtypes

title          object
rating        float64
calories      float64
protein       float64
fat           float64
               ...
cookbooks     float64
leftovers     float64
snack         float64
snack week    float64
turkey        float64
Length: 680, dtype: object

### Handle Missing & Duplicate Data

In [11]:
# df.columns[df.isnull().sum()>=1000]
df.isnull().sum()

title            0
rating           0
calories      4117
protein       4162
fat           4183
              ...
cookbooks        0
leftovers        0
snack            0
snack week       0
turkey           0
Length: 680, dtype: int64

In [12]:
df = df.dropna()

In [13]:
# Check for duplicates
df.duplicated().sum()

1418

In [14]:

# Remove duplicates
df.drop_duplicates(inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14446 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 75.1+ MB

In [16]:
df.isnull().sum()

title         0
rating        0
calories      0
protein       0
fat           0
             ..
cookbooks     0
leftovers     0
snack         0
snack week    0
turkey        0
Length: 680, dtype: int64

### Drop column have no value

In [17]:
zero_col = df.columns[(df==0).all()]
zero_col

Index(['camping', 'egypt', 'frankenrecipe', 'frittata', 'grand marnier',
       'iowa', 'jamaica', 'las vegas', 'mississippi', 'new hampshire', 'rosÃ©',
       'waffle'],
      dtype='object')

In [18]:
df = df.drop(columns=zero_col)

### Saving the cleaned file

In [19]:
df.to_csv("../cleaned file./cleaned_recipe.csv")

# Feature Engineering

In [20]:
# Step 1: Separate the first column (Title) and the remaining columns
titles = df.iloc[:, 0]  # First column (titles)
ingredient_df = df.iloc[:, 5:]  # Ingredient columns (from column 8 onwards)

# Step 2: Group the ingredients based on presence (1)
feature_group = ingredient_df.apply(lambda row: ', '.join(row.index[row == 1]), axis=1)

# Step 3: Create the final DataFrame with titles and grouped ingredients
final_df = pd.DataFrame({
    'Title': titles,
    'Rating': df['rating'],
    'Calories': df['calories'],
    'Protein': df['protein'],
    'Fat': df['fat'],
    'Sodium': df['sodium'],
    'features': feature_group
})

In [21]:
print("\nFinal DataFrame with Grouped Ingredients:")
final_df.head()

Final DataFrame with Grouped Ingredients:

,Title,Rating,Calories,Protein,Fat,Sodium,features
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,"apple, bean, cookie, fruit, kid-friendly, lent..."
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,"bake, bastille day, bon appÃ©tit, chill, dried ..."
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,"dairy, fennel, gourmet, new york, potato, soup..."
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,"bake, bon appÃ©tit, california, cheese, dairy, ..."
5,The Best Blts,4.375,948.0,19.0,79.0,1042.0,"bacon, basil, bon appÃ©tit, food processor, kid..."

In [22]:
# pip install openpyxl

In [23]:
# pip show openpyxl

### Save the Files

In [24]:
final_df.to_csv('../cleaned file/recipies.csv')

final_df.to_excel('../cleaned file/recipies.xlsx',index=False)